<div class="main-content">
    {{>header}}
    
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="/product">Quản lý nhân viên</a></li>
                        <li><span>Chỉnh sửa nhân viên</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <!-- Edit employee form-->
                        <h4 class="header-title">Chỉnh Sửa nhân viên</h4>
                        <form method="POST" action="/employee/{{employee.employeeid}}?_method=PUT" class="needs-validation mt-3" novalidate="">
                            <div class="form-row">
                                <div class="col mb-3">
                                    <div class="form-group">
                                        <label for="employee-name">Họ tên</label>
                                        <input type="text" class="form-control" id="employee-name" value="{{employee.name}}" name="name" required="">
                                        <div class="invalid-feedback">
                                            Please fill in the input field.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="employee-citizenid">CMND/CCCD</label>
                                        <input type="text" class="form-control" id="employee-citizenid" name="citizenid" value="{{employee.citizenid}}">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="employee-address">Địa chỉ</label>
                                        <input type="text" class="form-control" id="employee-address" name="address" value="{{employee.address}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col mb-3">
                                    <div class="form-group">
                                        <label for="employee-gender">Giới tính</label>
                                        <select id="employee-gender" class="form-control" name="gender">
                                            <option value="{{employee.gender}}">{{employee.gender}}</option>
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                            <option value="Khác">Khác</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="employee-phone" class="col-form-label">Số điện thoại</label>
                                        <input class="form-control" type="tel" id="employee-phone" name="phone" value="{{employee.phone}}" required="">
                                        <div class="invalid-feedback">
                                            Please fill in the input field.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="employee-email" class="col-form-label">Email</label>
                                        <input class="form-control" type="email" id="employee-email" name="email" value="{{employee.email}}" required="">
                                        <div class="invalid-feedback">
                                            Please fill in the input field.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery latest version -->
<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>

<!-- others plugins -->
<script src="/js/plugins.js"></script>
<script src="/js/scripts.js"></script>