<!-- main content area start -->
<div class="main-content">
    {{>header}}

    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="/">Home</a></li>
                        <li><span>Profile</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Thông tin cá nhân</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Thông tin tài khoản</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-3" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row" id="profile-info">
                                    <div class="col-lg-12 mt-5">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="header-title">Thông tin cá nhân</h4>
                                                <form method="POST" action="/profile/info/{{info.employeeid}}?_method=PUT" class="needs-validation mt-3"
                                                    novalidate="">

                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-name">Họ tên</label>
                                                                <input type="text" class="form-control"
                                                                    id="profile-name" name="name" value="{{info.name}}"
                                                                    required="">
                                                                <div class="invalid-feedback">Please provide a valid
                                                                    state.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-gender">Giới tính</label>
                                                                <input type="text" class="form-control"
                                                                    id="profile-gender" name="gender"
                                                                    value="{{info.gender}}" required="">
                                                                <div class="invalid-feedback">Please provide a valid
                                                                    state.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-citizenid">CMND/CCCD</label>
                                                                <input type="text" class="form-control"
                                                                    id="profile-citizenid" name="citizenid"
                                                                    value="{{info.citizenid}}" required="">
                                                                <div class="invalid-feedback">Please provide a valid
                                                                    state.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-address">Địa chỉ</label>
                                                                <input type="text" class="form-control"
                                                                    id="profile-address" name="address"
                                                                    value="{{info.address}}" required="">
                                                                <div class="invalid-feedback">Please provide a valid
                                                                    state.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-email">Email</label>
                                                                <input type="text" class="form-control"
                                                                    id="profile-email" name="email"
                                                                    value="{{info.email}}" required="">
                                                                <div class="invalid-feedback">Please provide a valid
                                                                    state.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-phone">Số điện thoại</label>
                                                                <input type="text" class="form-control"
                                                                    id="profile-phone" name="phone"
                                                                    value="{{info.phone}}" required="">
                                                                <div class="invalid-feedback">Please provide a valid
                                                                    state.</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <button class="btn btn-primary" type="submit">Cập nhật</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row" id="profile-account">
                                    <div class="col-lg-12 mt-5">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="header-title">Thông tin tài khoản</h4>
                                                <form method="POST" action="/profile/account/{{account.accountid}}?_method=PUT" class="needs-validation mt-3"
                                                    novalidate="">
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-avatar">Avatar</label>
                                                                <input type="text" class="form-control"
                                                                    id="profile-avatar" name="avatar" value="{{account.avatar}}" required="">
                                                                <div class="invalid-feedback">Please provide a valid
                                                                    state.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <img class="col-md-4 product-img"
                                                                    src="{{#if account.avatar}}{{account.avatar}}{{else}}/images/author/avatar.png{{/if}}" 
                                                                    class="img-fluid" alt="product-image">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-username">Username</label>
                                                                <input type="text" class="form-control"
                                                                    id="profile-username" name="username" value="{{account.username}}" required="">
                                                                <div class="invalid-feedback">Please provide a valid
                                                                    state.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-password">Password</label>
                                                                <input type="password" class="form-control"
                                                                    id="profile-password" name="password">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            <div class="form-group">
                                                                <label for="profile-type">Loại tài khoản</label>
                                                                <input type="text" class="form-control"
                                                                    id="profile-type" name="type" value="{{account.type}}" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary" type="submit">Cập nhật</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- main content area end -->

<!-- jquery latest version -->
<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>

<!-- others plugins -->
<script src="/js/plugins.js"></script>
<script src="/js/scripts.js"></script>