<div class="main-content">
    {{>header}}

    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="/feedback">Quản lý feedback</a></li>
                        <li><span>Chỉnh sửa feedback</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <!-- Edit feedback form-->
                        <h4 class="header-title">Chỉnh Sửa feedback</h4>
                        <form method="POST" action="/feedback/{{feedback.feedbackid}}?_method=PUT" class="needs-validation mt-3" novalidate="">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="feedback-customer_name">Tên khách hàng</label>
                                        <input type="text" class="form-control" id="feedback-customer_name" name="customer_name" value="{{feedback.customer_name}}"
                                            required="">
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="feedback-email">Email</label>
                                        <input type="text" class="form-control" id="feedback-email" name="email" value="{{feedback.email}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="feedback-phone">Số điện thoại</label>
                                        <input type="text" class="form-control" id="feedback-phone" name="phone" value="{{feedback.phone}}">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="feedback-address">Địa chỉ</label>
                                        <input type="text" class="form-control" id="feedback-address" name="address" value="{{feedback.address}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col mb-3">
                                    <div class="form-group input-group-prepend mb-3">
                                        <label for="feedback-content" class="input-group-text">Nội dung</label>
                                        <textarea class="form-control" aria-label="With textarea"
                                            id="feedback-content" name="content" required="">{{feedback.content}}</textarea>
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery latest version -->
<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>

<!-- others plugins -->
<script src="/js/plugins.js"></script>
<script src="/js/scripts.js"></script>