<div class="main-content">
    {{>header}}

    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="/shoessize">Quản lý số lượng</a></li>
                        <li><span>Sản phẩm đã xóa</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <!-- Shoes size start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Danh sách Shoes Size đã xóa</h4>
                        <div class="data-tables">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="dataTable_length"><label>Show
                                                <select name="dataTable_length" aria-controls="dataTable"
                                                    class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="dataTable_filter" class="dataTables_filter">
                                            <form name="search-form" method="GET">
                                                <input type="search" name="search-input"
                                                    class="form-control form-control-sm" placeholder="Search"
                                                    aria-controls="dataTable">
                                                <button type="submit" class="btn btn-outline-light btn-rounded btn-xs">
                                                    <i class="ti-search text-dark"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="table text-center">
                                        <thead class="text-uppercase bg-primary">
                                            <tr class="text-white">
                                                <th>Tên sản phẩm {{{sortable 'productname' _sort}}}</th>
                                                <th>Kích thước {{{sortable 'size' _sort}}}</th>
                                                <th>Số lượng {{{sortable 'amount' _sort}}}</th>
                                                <th>Thời gian xóa {{{sortable 'deletedAt' _sort}}}</th>
                                                <th>Khôi phục/ Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each shoessize}}
                                            <tr>
                                                <td>{{this.product.productname}}</td>
                                                <td>{{this.size}}</td>
                                                <td>{{this.amount}}</td>
                                                <td>{{this.deletedAt}}</td>
                                                <td>
                                                    <a href="" class="btn-restore-shoessize mr-3"
                                                        data-id="{{this.productid}}" data-size="{{this.size}}"
                                                        title="Khôi phục"><i class="fa fa-reply"></i></a>

                                                    <a href="" class="remove-data" title="Xóa vĩnh viễn"
                                                        data-id="{{this.productid}}" data-size="{{this.size}}"
                                                        data-toggle="modal" data-target="#delete-shoessize-modal"><i
                                                            class="fa fa-remove"></i></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="dataTable_info" role="status"
                                            aria-live="polite">Showing {{calcOffset totalPages totalItems currentPage}}
                                            to
                                            {{calcLimit totalPages totalItems currentPage}} of {{totalItems}} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                            <ul class="pagination">
                                                <li class="page-item previous" id="dataTable_previous">
                                                    <a href="" aria-controls="dataTable"
                                                        data-page="{{sub currentPage 1}}" tabindex="0"
                                                        class="page-link">Previous</a>
                                                </li>

                                                {{#paginate totalPages totalItems currentPage}}
                                                {{#each .}}
                                                <li class="page-item page"><a href="" aria-controls="dataTable"
                                                        data-page="{{this}}" tabindex="0" class="page-link">{{this}}</a>
                                                </li>
                                                {{/each}}
                                                {{/paginate}}

                                                <li class="page-item next" id="dataTable_next"><a href=""
                                                        aria-controls="dataTable" data-page="{{sum currentPage 1}}"
                                                        tabindex="0" class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SneakerSize end -->
        </div>
    </div>
</div>

{{!-- Delete shoessize hidden form--}}
<form name="delete-shoessize-form" method="POST"></form>
{{!-- restore shoessize hidden form--}}
<form name="restore-shoessize-form" method="POST"></form>

{{!-- Confirm delete shoessize --}}
<div id="delete-shoessize-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vĩnh viễn kích thước và số lượng?</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa trường này vĩnh viễn?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-shoessize">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        var productId;
        var restoreShoessizeBtn = $('.btn-restore-shoessize');
        var size;
        var btnDeleteShoessize = document.getElementById("btn-delete-shoessize");
        var deleteShoessizeForm = document.forms["delete-shoessize-form"];
        var restoreShoessizeForm = document.forms["restore-shoessize-form"];


        //Delete shoessize
        $('#delete-shoessize-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            productId = button.data('id')
            size = button.data('size')
        })

        btnDeleteShoessize.onclick = function () {
            deleteShoessizeForm.action = `/shoessize/${size}/${productId}/force?_method=DELETE`;
            deleteShoessizeForm.submit();
        }
        //Restore btn shoessize click
        restoreShoessizeBtn.click(function (e) {
            e.preventDefault();
            var productId = $(this).data('id');
            var size = $(this).data('size');
            restoreShoessizeForm.action = `/shoessize/${size}/${productId}/restore?_method=PATCH`;
            restoreShoessizeForm.submit();
        });

        updatePaginate({{totalPages}}, {{currentPage}});
        updateSelectSize({{totalPages}}, {{totalItems}});
    })
</script>
