<!-- main content area start -->
<div class="main-content">
    {{>header}}
    
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="#">Quản lý</a></li>
                        <li><span>Quản lý đơn hàng</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <!-- Primary table start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body border-bottom">
                        <div class="d-flex justify-content-between">
                            <a href="/order/create" class="text-white btn btn-primary" role="button">Thêm đơn hàng</a>
                            <a href="/order/trash" class="text-white btn btn-secondary" role="button">
                                <i class="fa fa-trash mr-2 ml-2"></i>Thùng rác
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Danh sách đơn hàng</h4>
                        <div class="data-tables datatable-primary">
                            <table id="dataTable2" class="text-center">
                                <thead class="text-capitalize">
                                    <tr>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Màu sắc</th>
                                        <th>Kích <br> thước</th>
                                        <th>Số <br> lượng</th>
                                        <th>Tổng <br> thanh toán</th>
                                        <th>Sửa / Xóa</th>
                                        <th>In hóa <br> đơn</th>
                                        <th>Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orders}}
                                    <tr>
                                        <td>{{this.orderid}}</td>
                                        <td>{{this.customer.name}}</td>
                                        <td>
                                            {{#each ./orderProducts}}
                                            {{this.product.productname}} <br><br>
                                            {{/each}}
                                        </td>
                                        <td>
                                            {{#each ./orderProducts}}
                                            {{this.product.color}} <br><br>
                                            {{/each}}
                                        </td>
                                        <td>
                                            {{#each ./orderProducts}}
                                            {{this.size}} <br><br>
                                            {{/each}}
                                        </td>
                                        <td>
                                            {{#each ./orderProducts}}
                                            {{this.amount}} <br><br>
                                            {{/each}}
                                        </td>
                                        <td>{{this.price}} $</td>
                                        <td>
                                              <a href="/order/{{this.orderid}}/edit" class="edit-data"
                                                title="Chỉnh sửa đơn hàng">
                                                <i class="fa fa-edit"></i>

                                                <a href="" class="remove-data" title="Xóa đơn hàng"
                                                    data-id="{{this.orderid}}" data-toggle="modal"
                                                    data-target="#delete-order-modal"><i
                                                        class="fa fa-remove"></i></a>
                                        </td>
                                        <td>
                                              <a href="/order/{{this.orderid}}/invoice" title="In đơn hàng này">
                                                <i class="fa fa-print"></i>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <p class="col-md-4">Số điện thoại khách hàng: {{this.customer.phone}}</p>
                                                <div class="col-md-4"><p>Thời gian tạo :<br>{{this.createdAt}}</p></div>
                                                <div class="col-md-4"><p>Sửa gần nhất :<br>{{this.updatedAt}}</p> </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Primary table end -->
        </div>
    </div>
</div>
<!-- main content area end -->

{{!-- Delete order hidden form--}}
<form name="delete-order-form" method="POST"></form>

{{!-- Confirm delete order --}}
<div id="delete-order-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa đơn hàng ?</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa đơn hàng  này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-order">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        var orderId;
        //Variable delete order
        var btnDeleteOrder = document.getElementById("btn-delete-order");
        var deleteOrderForm = document.forms["delete-order-form"];

        //Delete order
        $('#delete-order-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            orderId = button.data('id')
        })

        btnDeleteOrder.onclick = function () {
            deleteOrderForm.action = `/order/${orderId}?_method=DELETE`;
            deleteOrderForm.submit();
        }
    })
</script>

<script src="/js/vendor/jquery-2.2.4.min.js"></script>

<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

<script src="/js/plugins.js"></script>
<script src="/js/scripts.js"></script>