<!-- main content area start -->
<div class="main-content">
    {{>header}}
    
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="#">Quản lý đơn hàng</a></li>
                        <li><span>Quản lý đơn hàng đã xóa</span></li>
                    </ul>
                </div>
            </div>
              <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <!-- Primary table start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Danh sách đơn hàng đã xóa</h4>
                        <div class="data-tables datatable-primary">
                            <table id="dataTable2" class="text-center">
                                <thead class="text-capitalize">
                                    <tr>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Màu sắc</th>
                                        <th>Kích <br> thước</th>
                                        <th>Số <br> lượng</th>
                                        <th>Tổng <br> thanh toán</th>
                                        <th>Thời gian Xóa</th>
                                        <th>Khôi phục / Xóa</th>
                                        <th>Số điện thoại khách hàng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orders}}
                                    {{#if ./deletedAt}}
                                    <tr>
                                        <td>{{this.orderid}}</td>
                                        <td>{{this.customer.name}}</td>
                                        <td>
                                            {{#each ./orderProducts}}
                                            {{this.product.productname}} <br><br>
                                            {{/each}}
                                        </td>
                                        <td>
                                            {{#each ./orderProducts}}
                                            {{this.product.color}} <br><br>
                                            {{/each}}
                                        </td>
                                        <td>
                                            {{#each ./orderProducts}}
                                            {{this.size}} <br><br>
                                            {{/each}}
                                        </td>
                                        <td>
                                            {{#each ./orderProducts}}
                                            {{this.amount}} <br><br>
                                            {{/each}}
                                        </td>
                                        <td>{{this.price}} $</td>
                                        <td>{{this.deletedAt}}</td>
                                        <td>
                                             <a href="" class="btn-restore-order mr-3" data-id="{{this.orderid}}"
                                            title="Khôi phục đơn hàng"><i class="fa fa-reply"></i></a>

                                            <a href="" class="remove-data" title="Xóa vĩnh viễn"
                                                data-id="{{this.orderid}}" data-toggle="modal"
                                                data-target="#delete-order-modal"><i class="fa fa-remove"></i></a>
                                        </td>
                                        <td>{{this.customer.phone}}</td>
                                    </tr>
                                    {{/if}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Primary table end -->
        </div>
    </div>
</div>
<!-- main content area end -->

{{!-- Delete order hidden form--}}
<form name="delete-order-form" method="POST"></form>
<form name="restore-order-form" method="POST"></form>

{{!-- Confirm delete order --}}
<div id="delete-order-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vĩnh viễn đơn hàng?</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa đơn hàng này vĩnh viễn?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-order">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        var orderId;
        //Variable delete order
        var btnDeleteOrder = document.getElementById("btn-delete-order");
        var deleteOrderForm = document.forms["delete-order-form"];
        var restoreOrderBtn = $('.btn-restore-order');
        var restoreOrderForm = document.forms["restore-order-form"];

        //Delete order
        $('#delete-order-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            orderId = button.data('id')
        })

        btnDeleteOrder.onclick = function () {
            deleteOrderForm.action = `/order/${orderId}/force?_method=DELETE`;
            deleteOrderForm.submit();
        }

        //Restore btn order click
        restoreOrderBtn.click( function(e){
          e.preventDefault();
          var orderId = $(this).data('id');
          restoreOrderForm.action= `/order/${orderId}/restore?_method=PATCH`;
          restoreOrderForm.submit();
        });
    })
</script>

<script src="/js/vendor/jquery-2.2.4.min.js"></script>

<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

<script src="/js/plugins.js"></script>
<script src="/js/scripts.js"></script>