<div class="main-content">
    {{>header}}

    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><span>Quản lý sản phẩm</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <!-- Danh sách sản phẩm start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body border-bottom">
                        <div class="d-flex justify-content-between">
                            <a href="/product/create" class="text-white btn btn-primary" role="button">Thêm sản phẩm</a>
                            <a href="/product/trash" class="text-white btn btn-secondary" role="button">
                                <i class="fa fa-trash mr-2 ml-2"></i>
                                Thùng rác
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Danh sách sản phẩm</h4>
                        <div class="data-tables">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="dataTable_length"><label>Show
                                                <select name="dataTable_length" aria-controls="dataTable"
                                                    class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="dataTable_filter" class="dataTables_filter">
                                            <form name="search-form" method="GET">
                                                <input type="search" name="search-input"
                                                    class="form-control form-control-sm" placeholder="Search"
                                                    aria-controls="dataTable">
                                                <button type="submit" class="btn btn-outline-light btn-rounded btn-xs">
                                                    <i class="ti-search text-dark"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="table text-center">
                                        <thead class="text-uppercase bg-primary">
                                            <tr class="text-white">
                                                <th>Mã sản phẩm</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Màu sắc</th>
                                                <th>Giá</th>
                                                <th>Mô tả</th>
                                                <th>Tình <br> trạng</th>
                                                <th>Sửa / Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each products}}
                                            <tr>
                                                <td>{{this.productid}}</td>
                                                <td>{{this.productname}}</td>
                                                <td>{{this.color}}</td>
                                                <td>{{this.price}}$</td>
                                                <td class="product-description">{{this.description}}</td>
                                                <td>{{this.status}}</td>
                                                <td>
                                                    <div class="row justify-content-around">
                                                    <a href="/product/{{this.productid}}/edit" class="edit-data"
                                                        title="Chỉnh sửa sản phẩm">
                                                        <i class="fa fa-edit"></i>
                                                    </a>

                                                    <a href="" class="remove-data" title="Xóa sản phẩm"
                                                        data-id="{{this.productid}}" data-toggle="modal"
                                                        data-target="#delete-product-modal"><i
                                                            class="fa fa-remove"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/each}}

                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="dataTable_info" role="status"
                                            aria-live="polite">Showing {{calcOffset totalPages totalItems currentPage}}
                                            to
                                            {{calcLimit totalPages totalItems currentPage}} of {{totalItems}} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                            <ul class="pagination">
                                                <li class="page-item previous" id="dataTable_previous">
                                                    <a href="" aria-controls="dataTable"
                                                        data-page="{{sub currentPage 1}}" tabindex="0"
                                                        class="page-link">Previous</a>
                                                </li>

                                                {{#paginate totalPages totalItems currentPage}}
                                                {{#each .}}
                                                <li class="page-item page"><a href="" aria-controls="dataTable"
                                                        data-page="{{this}}" tabindex="0" class="page-link">{{this}}</a>
                                                </li>
                                                {{/each}}
                                                {{/paginate}}

                                                <li class="page-item next" id="dataTable_next"><a href=""
                                                        aria-controls="dataTable" data-page="{{sum currentPage 1}}"
                                                        tabindex="0" class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Danh sách sản phẩm end -->
        </div>
    </div>
</div>

{{!-- Delete product hidden form--}}
<form name="delete-product-form" method="POST"></form>

{{!-- Confirm delete product --}}
<div id="delete-product-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa sản phẩm?</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa sản phẩm này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-product">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        var productId;
        //Variable delete product
        var btnDeleteProduct = document.getElementById("btn-delete-product");
        var deleteProductForm = document.forms["delete-product-form"];

        //Delete product
        $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            productId = button.data('id')
        })

        btnDeleteProduct.onclick = function () {
            deleteProductForm.action = `/product/${productId}?_method=DELETE`;
            deleteProductForm.submit();
        }

        updatePaginate({{totalPages}}, {{currentPage}});
        updateSelectSize({{totalPages}}, {{totalItems}});
    })
</script>