<div class="main-content">
    {{>header}}

    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><span>Quản lý khách hàng</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <!-- Primary table start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body border-bottom">
                        <div class="d-flex justify-content-between">
                            <a href="/customer/create" class="text-white btn btn-primary" role="button">Thêm khách
                                hàng</a>
                            <a href="/customer/trash" class="text-white btn btn-secondary" role="button">
                                <i class="fa fa-trash mr-2 ml-2"></i>Thùng rác
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Danh sách khách hàng</h4>
                        <div class="data-tables">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="dataTable_length"><label>Show
                                                <select name="dataTable_length" aria-controls="dataTable"
                                                    class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="dataTable_filter" class="dataTables_filter">
                                            <form name="search-form" method="GET">
                                                <input type="search" name="search-input"
                                                    class="form-control form-control-sm" placeholder="Search"
                                                    aria-controls="dataTable">
                                                <button type="submit" class="btn btn-outline-light btn-rounded btn-xs">
                                                    <i class="ti-search text-dark"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="table text-center">
                                        <thead class="text-uppercase bg-primary">
                                            <tr class="text-white">
                                                <th>Mã khách hàng</th>
                                                <th>Họ tên</th>
                                                <th>Số điện thoại</th>
                                                <th>Email</th>
                                                <th>Địa chỉ</th>
                                                <th>Tác vụ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each customers}}
                                            <tr>
                                                <td>{{this.customerid}}</td>
                                                <td>{{this.name}}</td>
                                                <td>{{this.phone}}</td>
                                                <td>{{this.email}}</td>
                                                <td>{{this.address}}</td>
                                                <td>
                                                    <div class="row justify-content-around">
                                                    <a href="/customer/{{this.customerid}}/edit" class="edit-data"
                                                        title="Chỉnh sửa khách hàng">
                                                        <i class="fa fa-edit"></i>

                                                        <a href="" class="remove-data" title="Xóa khách hàng"
                                                            data-id="{{this.customerid}}" data-toggle="modal"
                                                            data-target="#delete-customer-modal"><i
                                                                class="fa fa-remove"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="dataTable_info" role="status"
                                            aria-live="polite">Showing {{calcOffset totalPages totalItems currentPage}}
                                            to
                                            {{calcLimit totalPages totalItems currentPage}} of {{totalItems}} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                            <ul class="pagination">
                                                <li class="page-item previous" id="dataTable_previous">
                                                    <a href="" aria-controls="dataTable"
                                                        data-page="{{sub currentPage 1}}" tabindex="0"
                                                        class="page-link">Previous</a>
                                                </li>

                                                {{#paginate totalPages totalItems currentPage}}
                                                {{#each .}}
                                                <li class="page-item page"><a href="" aria-controls="dataTable"
                                                        data-page="{{this}}" tabindex="0" class="page-link">{{this}}</a>
                                                </li>
                                                {{/each}}
                                                {{/paginate}}

                                                <li class="page-item next" id="dataTable_next"><a href=""
                                                        aria-controls="dataTable" data-page="{{sum currentPage 1}}"
                                                        tabindex="0" class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Primary table end -->
        </div>
    </div>
</div>

{{!-- Delete customer hidden form--}}
<form name="delete-customer-form" method="POST"></form>

{{!-- Confirm delete customer --}}
<div id="delete-customer-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khách hàng?</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa khách hàng này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-customer">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        var customerId;
        //Variable delete customer
        var btnDeletecustomer = document.getElementById("btn-delete-customer");
        var deletecustomerForm = document.forms["delete-customer-form"];

        //Delete customer
        $('#delete-customer-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            customerId = button.data('id')
        })

        btnDeletecustomer.onclick = function () {
            deletecustomerForm.action = `/customer/${customerId}?_method=DELETE`;
            deletecustomerForm.submit();
        }
        updatePaginate({{ totalPages }}, {{ currentPage }});
    updateSelectSize({{ totalPages }}, {{ totalItems }});
    })
</script>

<script src="/js/vendor/jquery-2.2.4.min.js"></script>

<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

<script src="/js/plugins.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/custom.js"></script>