<div class="main-content">
    {{>header}}
    
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="/product">Quản lý khách hàng</a></li>
                        <li><span>Chỉnh sửa khách hàng</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <!-- Edit customer form-->
                        <h4 class="header-title">Chỉnh Sửa khách hàng</h4>
                        <form method="POST" action="/customer/{{customer.customerid}}?_method=PUT" class="needs-validation mt-3" novalidate="">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="customer-name">Họ tên</label>
                                        <input type="text" class="form-control" id="customer-name" name="name" value="{{customer.name}}" required="">
                                        <div class="invalid-feedback">
                                            Please fill in the input field.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="customer-address">Địa chỉ</label>
                                        <input type="text" class="form-control" id="customer-address" name="address" value="{{customer.address}}" required="">
                                        <div class="invalid-feedback">
                                            Please fill in the input field.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="customer-phone">Số điện thoại</label>
                                        <input class="form-control" type="tel" id="customer-phone" name="phone" value="{{customer.phone}}" required="">
                                        <div class="invalid-feedback">
                                            Please fill in the input field.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="customer-email">Email</label>
                                        <input class="form-control" type="email" id="customer-email" name="email" value="{{customer.email}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>